/*
html,
body {
    font-family: 'Lato', sans-serif;
    background-image:url('https://image.ibb.co/hF9ENw/climate_kic_350836.jpg');
    background-position: center;
    background-color: #6B8175;
    background-repeat: no-repeat;
    background-size: cover;
}
*/
#eventsJumbotron {
    position: absolute;
    bottom: 0;
    width: 1160px;
    opacity: 0.8;
}
#eventsSigninText {
    position: relative;
    left:300px;
    top: 50%;
}
/*
#eventPage {
    font-family: 'Lato', sans-serif;
    background-image:url('https://image.ibb.co/hF9ENw/climate_kic_350836.jpg');
    background-position: center;
    background-color: #43304C;
    background-repeat: no-repeat;
    background-size: cover;
}
*/
.navbar{
    margin-bottom: 0;
    background-color: #6B8175;
    border: 0;
    border-radius: 0;
    font-size: 18px !important;
    letter-spacing: 1px;
}
.navbar li a,.navbar .navbar-brand{
    color: #fff !important;
    background-color: #43304C !important;
        
}
.navbar-default .navbar-toggle{
    background-color: transparent;
    color: #fff;
}
/*
form {color: white !important;
}
*/
.formnow{
    padding: 5px 120px;
    
}
.g{
    padding: 80px 0;
    
}
.h{
    margin: 15px 0;
}
.btn-info{
    background-color: #43304C;
    margin: 20px 0;
    border: 0;
    transition: all 0.7s;
    border: 1px solid #43304C;
}
.btn-info:hover{
    background-color: #fff;
    color: #43304C;
    
}
.col-md-6{
  min-height: 100%;
  min-height: 100vh; 

  display: flex;
  align-items: center;
}
